.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button > * {
  pointer-events: none;
}

.now-playing {
  text-align: center;
  margin: 0 30px;
}

img {
  margin: 0 20px;
}

.fa-info-circle {
  position: relative;
  right: -156px;
  top: 5px;
  font-size: 18px;
}

@media only screen and (max-width: 900px) {
  .controls {
    max-width: 350px;
  }
}
