.App {
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
  grid-template-rows: 80px 1fr;
  column-gap: 20px;
  align-items: stretch;
  justify-items: stretch;
  height: 100vh;
}

.App > div {
  margin-bottom: 10px;
}

.App-header {
  text-align: center;
  grid-column: 1/4;
  grid-row: 1/2;
}

.Spotify-container {
  grid-column: 3/4;
  grid-row: 2/3;
  margin-right: 10px;
}

.Power-hour {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
}

.Players {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-left: 10px;
  /* max-width: 33vw; */
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .App {
    display: flex;
    height: auto;
  }
  .App > div {
    box-shadow: none !important;
    border-bottom: 1px #3f51b5 solid;
    margin: 0px;
  }
  .Spotify-container {
    width: 100vw;
  }
  .Power-hour {
    margin-top: 71px;
    margin-bottom: 3px;
    width: 100vw;
  }
  .PLayers {
    width: 100vw;
  }
}
