button {
  margin-top: 30px !important;
  flex: 1 1 auto;
  max-width: 364px;
  max-height: 42px;
  width: 100%;
  margin-top: 15px !important;
  margin-bottom: 10px !important;
}

.rules-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 0px;
}

input {
  padding-right: 0px !important;
}

.rules-input input {
  width: 350px !important;
}

p {
  margin: 10px 30px;
  text-align: justify;
}
